{% extends "ngap/skeleton" %}

{% block content %}
<div class="page-header">
	<h1>ICFS Members List</h1>
</div>

{% if success is defined %}

{% if success == true %}
<div class="alert">
	{{ deleted.fullName }} successfully removed from the system.
</div>

{% elseif success == false %}

<div class="alert alert-error">
	Error! Did you try and delete someone who wasn't a member? If not, something has gone wrong! Please let VPT know!
</div>

{% endif %}

{% endif %}

<table class="table table-condensed table-bordered table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Department</th>
			<th>Email</th>
			<th>Mobile Number</th>
			<th>Registration Method</th>
			<th>Registration Time</th>
			<th>Delete Member</th>
		</tr>
	</thead>
	<tbody>
		{% for member in members %}
		<tr>
			<td>{{ member.fullName }}</td>
			<td>{{ member.dept }}</td>
			<td>{{ member.email }}</td>
			<td>{{ member.mobile }}</td>
			<td>{{ member.regmethod }}</td>
			<td>{{ member.regdate }}</td>
			<td ><a class="delete-member" href="{{path('ngap')}}members/delete/{{ member.uname }}">X</a></td>
		</tr>
		{% endfor %}
	</tbody>	
</table>

{% endblock %}

{% block contentclass %} content-pageedit{% endblock %}

{% block srcpagejs %}{% endblock %}

{% block pagejs %}
<script>
	$(function() {
		$(".delete-member").each(function(){
			$(this).click(function(){
				if($(this).hasClass("delete-member"))
				{	
					var name = $(this).parent().parent().find(":first-child").html();
					$(this).addClass("btn btn-danger btn-mini delete-member-really").removeClass("delete-member").css("line-height", "14px").text("Delete " + name + "?");
					return false;
				}
			})
		})
	});
</script>
{% endblock %}